<!-- <ion-app> -->
  <!-- <ion-split-pane contentId="main-content"> -->
    <!-- <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi&#64;ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu> -->
    <!-- <app-test></app-test> -->
    <!-- <app-test></app-test> -->


    <app-index></app-index>
    <!-- <ion-router-outlet id="main-content"></ion-router-outlet> -->
    <!-- <footer *ngIf="share.footer">
      <div class="footer-content">
        <div class="social-icons">
          <a href="https://www.facebook.com/votrepage" target="_blank" class="me-5">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="mailto:contact@votresite.com" class="me-5">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.twitter.com/votrecompte" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="company-info">
          <pre> <strong>&copy; 2023 MEDIATEK. Tous droits réservés.    Adresse : ennaser, Ariana.   Téléphone : 98 921 906</strong></pre>
  
        </div>
      </div>
    </footer> -->
    <!-- ///////////////////////////////////////////// -->



    <!-- <app-index></app-index> -->
    <!-- <router-outlet></router-outlet> -->
    
    <!-- src/app/footer/footer.component.html -->
    
    <!-- <footer *ngIf="share.footer">
        <div class="footer-content">
          <div class="social-icons">
            <a href="https://www.facebook.com/votrepage" target="_blank" class="me-5">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="mailto:contact@votresite.com" class="me-5">
              <i class="fas fa-envelope"></i>
            </a>
            <a href="https://www.twitter.com/votrecompte" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="company-info">
            <pre> <strong>&copy; 2023 MEDIATEK. Tous droits réservés.    Adresse : ennaser, Ariana.   Téléphone : 98 921 906</strong></pre>
    
          </div>
        </div>
      </footer> -->
      

    <!-- /////////////////////////////////////////////// -->



  <!-- </ion-split-pane> -->
  
  
  
<!-- </ion-app> -->
