ion-card {
    border-radius: 20px; /* Adjust the value as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  ion-card-header {
    padding: 20px; /* Add padding for better spacing */
  }
  .sign-out-card {
    border-radius: 20px; /* Adjust the value as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .sign-out-header {
    padding: 20px; /* Add padding for better spacing */
    background-color: #E74C3C; /* Set the background color to E74C3C */
    color: white; /* Set text color to white */
  }
    