<!-- <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Quantite</th>
      <th scope="col">Price</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>

      <ng-container *ngFor="let item of cartItemList; let i=index" >

          <tr class="table-row">
              <th scope="row">{{i+1}}</th>
              <td>{{item.name}}</td>
              <td><img src="assets/images/{{item.photo}}" class="card-img-top" alt=""></td>
              <td>{{item.description}}</td>
              <td>1</td>
              <td>{{item.price}}</td>
              <td><button class="btn fas fa-trash btn-danger" (click)="delete(item)" ></button></td>
          </tr>

      </ng-container>
    
      
  </tbody>
</table> -->